<!--/*@thymesVar id="context" type="com.aptech.mymusic.presentation.internalmodel.Context"*/-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en"
      dir="ltr"
      class="light-style"
      data-theme="theme-default"
      data-assets-path="/public/admin/assets/"
      data-template="vertical-menu-template-free">

<head th:include="admin/common/shared::common_head"></head>

<body>
<th:block th:include="${context.content.layout}::${context.content.name}"></th:block>
<th:block th:include="admin/common/shared::common_body_js"></th:block>
</body>

</html>
